@if (imageDetail(); as imageDetail) {
<div [ngClass]="[imageDetail.height | aspectRatio : imageDetail.width]"
  class="relative overflow-hidden rounded-lg shadow-lg group">
  <img [ngStyle]="getAspectRatio()" [src]="imageSrc()" class="object-cover w-full h-auto">

  <!-- Overlay -->
  <div class="absolute inset-0 flex flex-col justify-end transition-opacity duration-300 bg-black bg-opacity-50 opacity-0 group-hover:opacity-100">
    <div class="p-4 transition-transform duration-300 transform translate-y-full group-hover:translate-y-0">
      <p class="mb-4 text-gray-300">{{imageDetail.width}}x{{imageDetail.height}}px</p>
      <button (click)="onDownload()" class="flex items-center justify-center w-full px-4 py-2 font-bold text-white transition-colors duration-300 bg-blue-600 rounded hover:bg-blue-700">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
        </svg>
        Download
      </button>
    </div>
  </div>
</div>
}
