/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}
.custom-dialog{
  --mat-dialog-container-max-width: 1220px
}


.overlay{
  background: rgba(0, 0, 0, 0.6);
  width: 800px;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disabled{
  opacity: 0.5;
}
p{
  margin: 0 !important;
}
