.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.h-300{
  height: 300px;
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}



// .custom-dialog {
//   width: 1200px;
// }
